html {
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.story {
    width: auto;
    padding-left: 35px;
}
.ticket-card {
    width: 270px;
    height: 125px;
    margin: 20px 20px 0 0;
    padding: 10px 20px;
    position: relative;
    background-image: url(../images/ticket3.png);
    background-image: -webkit-image-set(url(../images/ticket3.png) 1x,url(../images/ticket3@2x.png) 2x);
    background-image: image-set(url(../images/ticket3.png) 1x,url(../images/ticket3@2x.png) 2x);
}
.ticket-card .ticket-date {
    float: right;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-weight: 700;
}
.ticket-card .ticket-number {
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-size: 20px;
}
.ticket-card .ticket-station {
    height: 46px;
    line-height: 18px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ticket-card .ticket-info {
    height: 20px;
    line-height: 20px;
    position: relative;
    margin-top: 10px;
}
.ticket-card .ticket-station-name {
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin-right: 8px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.ticket-card .ticket-station-name i {
    vertical-align: top;
    font-weight: 400;
}
.ticket-card .ticket-station i {
    margin-right: 5px;
}
.label-shi {
    color: #5fac81;
}
.label-zhong {
    color: #FF8000;
}
.label-shi, .label-zhong {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #d8edff;
    font-style: normal;
    font-size: 12px;
    background: #fff;
}
*, *:before, *:after {
    -wekbit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket-card .ticket-station-time {
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
    padding-left: 23px;
}
.ticket-card .ticket-station-arw {
    float: left;
    margin-right: 8px;
    margin-top: 7px;
    width: 16px;
    height: 5px;
    background-image: url(../images/to01.png);
    background-image: -webkit-image-set(url(../images/to01.png) 1x,url(../images/to01@2x.png) 2x);
    background-image: image-set(url(../images/to01.png) 1x,url(../images/to01@2x.png) 2x);
    background-position: right center;
    background-repeat: no-repeat;
}
.txt-danger {
    color: #FF4646 !important;
    padding-left: 5px;
    font-size:14px;
}
.story img {
    margin-top: 20px;
}

.suoj {
    margin-left: 25px;
}
.juz {
    text-align: center;
    display: block;
}
.zuodq {
    float: left;
    line-height: 25px;
    font: 1.1em sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 600;
}
.youdq {
    float: right;
    line-height: 25px;
    font: 1.1em sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 600;
}